.navbar {
  background-color: #333;
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
}

.menuItem {
  position: relative;

  .dropdown,
  .mega-menu {
    position: relative;
  }

  .dropdown-content,
  .mega-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  &:hover .dropdown-content,
  &:hover .mega-content {
    display: block;
  }

  .mega-content {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }

  .megaColumn {
    flex: 1;
    margin-right: 1rem;

    h4 {
      border-bottom: 2px solid red;
      // margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        // margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
