/* ---------------------------------------------------------
    * Name: Ecomus Multipurpose eCommerce HTML Template
    * Version: 1.0.3
    * Author: Themesflat
    * Author URI: http://themesflat.com

	* Abstracts variable

    * Reset css styles

    * Components
        * header
        * footer
        * tabs
        * slider banner
        * button
        * range slider
        * form
        * nice select
        * carousel
        * avatar
        * pop up
        * box icon
        * hover
        * collection
        * product
        * blog
        * testimonial
        * lookbook
        * featured
        * accordion
        * zoom

    * section

    * Responsive
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "abstracts/index" as *;

/*---------- Reset css styles ----------- */
@use "reset" as *;

/*------------ Components ---------------- */
@use "component/index" as *;

/*------------ sections ---------------- */
@use "sections" as *;

/*-------------- Responsive ----------------- */
@use "responsive" as *;