// VehicleSearch.module.scss    
.vehicle-search-form {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #2c2c2c !important;
    padding: 10px 0px 10px 0px;
  
    .search-form {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      width: 100%;
      max-width: 1200px;
    }
  
    .search-input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      flex: 1;
      min-width: 150px;
      max-width: 100%;
      max-height: 40px;
    }
  
    .search-button {
      padding: 10px 20px;
      background-color: var(--primary);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      max-height: 40px;
      &:hover {
        background-color: #000000;
      }
    }
  
    @media (max-width: 768px) {
      .search-input {
        min-width: 120px;
        max-width: 200px;
      }
  
      .search-button {
        font-size: 14px;
        padding: 8px 16px;
      }
    }
  }
  