/*------------ header ---------------- */
@use "header";
/*------------ footer ---------------- */
@use "footer";
/*------------ tabs ---------------- */
@use "tabs";
/*------------ slider banner ---------------- */
@use "slider";
/*------------ button ---------------- */
@use "button";
/*------------ range slider ---------------- */
@use "range-slider";
/*------------ form ---------------- */
@use "form";
/*------------ nice select ---------------- */
@use "nice-select";
/*------------ carousel ---------------- */
@use "carousel";
/*------------ avatar ---------------- */
@use "avatar";
/*------------ pop up ---------------- */
@use "pop-up";
/*------------ box icon ---------------- */
@use "box-icon";
/*------------ hover ---------------- */
@use "hover";
/*------------ collection ---------------- */
@use "collection";
/*------------ product ---------------- */
@use "product";
/*------------ blog ---------------- */
@use "blog";
/*------------ testimonial ---------------- */
@use "testimonial";
/*------------ lookbook ---------------- */
@use "lookbook";
/*------------ featured ---------------- */
@use "featured";
/*------------ accordion ---------------- */
@use "accordion";
/*------------ zoom ---------------- */
@use "zoom";
/*------------ search filter ---------------- */
@use "search-filter";
/*------------ checkout ---------------- */
@use "checkout";
/*------------ order confirmation ---------------- */
@use "order-confirmation";
/*------------ credit card ---------------- */
@use "credit-card";