/*------------ header ---------------- */
@use "header" as *;
/*------------ footer ---------------- */
@use "footer" as *;
/*------------ tabs ---------------- */
@use "tabs" as *;
/*------------ slider banner ---------------- */
@use "slider" as *;
/*------------ button ---------------- */
@use "button" as *;
/*------------ range slider ---------------- */
@use "range-slider" as *;
/*------------ form ---------------- */
@use "form" as *;
/*------------ nice select ---------------- */
@use "nice-select" as *;
/*------------ carousel ---------------- */
@use "carousel" as *;
/*------------ avatar ---------------- */
@use "avatar" as *;
/*------------ pop up ---------------- */
@use "pop-up" as *;
/*------------ box icon ---------------- */
@use "box-icon" as *;
/*------------ hover ---------------- */
@use "hover" as *;
/*------------ collection ---------------- */
@use "collection" as *;
/*------------ product ---------------- */
@use "product" as *;
/*------------ blog ---------------- */
@use "blog" as *;
/*------------ testimonial ---------------- */
@use "testimonial" as *;
/*------------ lookbook ---------------- */
@use "lookbook" as *;
/*------------ featured ---------------- */
@use "featured" as *;
/*------------ accordion ---------------- */
@use "accordion" as *;
/*------------ faq page ---------------- */
@use "faq" as *;
/*------------ zoom ---------------- */
@use "zoom" as *;
/*------------ search filter ---------------- */
@use "search-filter" as *;
/*------------ checkout ---------------- */
@use "checkout" as *;
/*------------ order confirmation ---------------- */
@use "order-confirmation" as *;
/*------------ credit card ---------------- */
@use "credit-card" as *;
/*------------ contact ---------------- */
@use "contact" as *;
/*------------ account dashboard ---------------- */
@use "account-dashboard" as *;
/*------------ admin ---------------- */
@use "admin" as *;
/*------------ section header ---------------- */
@use "sectionHeader" as *;
/*------------ videos ---------------- */
@use "videos" as *;
/*------------ BMR product card ---------------- */
@use "bmrCard" as *;